trigger: none

pool: dev-pool

stages:
  - stage: 
    jobs:
      - job:
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Env-Infra/dev/'
              backendAzureRmStorageAccountName: 'stg-aacount'
              backendAzureRmContainerName: 'stg-container'
              backendAzureRmKey: 'dev.tfstate'
          
          
          
